<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" 
        clear_params="true" respawn="true" respawn_delay="3">
    <rosparam command="load" file="$(find pioneer_config)/launch/config/ekf_odom_imu.yaml" />

    <!-- <remap from="odometry/filtered" to="odom"/> -->

  </node>
</launch>
