<?xml version="1.0"?>
<launch>  
  <!-- 1. Sensor and 2. mobile robot -->
  <include file="$(find pioneer_config)/launch/pioneer_multisensor.launch" />
  
  <!-- 3. Mapper -->
  <arg name="odom_frame" default="odom" />
  <include file="$(find pioneer_config)/launch/icp_mapper.launch">
    <arg name="odom_frame" value="$(arg odom_frame)" />
  </include>

  <!-- 3. Robot Localization -->
  <include file="$(find pioneer_config)/launch/ekf_pioneer.launch" />

</launch>
