<launch>

  <!-- Pioneer3AT -->
  <include file="$(find pioneer_config)/launch/pioneer3at_bringup.launch" />
  <!-- <include file="$(find robot_localization)/launch/ekf_pioneer.launch" /> -->

  <!-- Multisensor File -->
  <include file="$(find pioneer_config)/launch/multisensors.launch" />

  <!-- Hokuyo YVT-35LX -->
  <!-- <include file="$(find pioneer_config)/launch/hokuyo_bringup.launch" /> -->

  <!-- Astra Pro -->
  <!-- <include file="$(find astra_launch)/launch/astrapro.launch" /> -->

  <!-- Visualization -->
  <!-- <node pkg="rviz" type="rviz" name="rviz"/> -->
  
  <!-- Convert Voxel Map to PCL -->
  <!-- <include file="$(find pioneer_config)/launch/hokuyo_octomap.launch"> -->
   
  <!-- <remap from="/RosAria/pose" to="pose_rosaria" /> -->

</launch>
