<launch>

  <!-- Pioneer3AT -->
  <include file="$(find pioneer_config)/launch/pioneer3at_bringup.launch" />
  <!-- <include file="$(find robot_localization)/launch/ekf_pioneer.launch" /> -->

  <!-- Hokuyo YVT-35LX -->
  <include file="$(find pioneer_config)/launch/hokuyo_bringup.launch" />

  <!-- ZED mini -->
  <include file="$(find pioneer_config)/launch/zedm_bringup.launch" /> -->



   
  <!-- <remap from="/RosAria/pose" to="pose_rosaria" /> -->

</launch>
