<launch>
  <param name="/use_sim_time"   value="true" />

  <!-- sensor frames -->
  
  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find pioneer_config)/launch/rviz/sim-pioneer-bb.rviz" />
  
  <!-- remapping frames -->
  <!-- <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
    <rosparam param="mappings">
      [{old: base_link, new: base_hokuyo3d}]
    </rosparam>
  </node>  -->

  <!-- icp mapper -->
  <arg name="odom_frame"       default="base_link"/>
  <arg name="run_localize"     default="true"/>
  <arg name="run_mapping"      default="true"/>

  <include file="$(find pioneer_config)/launch/icp_mapper.launch">
    <arg name="odom_frame"       value="$(arg odom_frame)" />
    <arg name="run_localize"     value="$(arg run_localize)" />
    <arg name="run_mapping"      value="$(arg run_mapping)" />
  </include>

  <!-- zed svo data -->
  <node pkg="rosbag" type="play" name="rosbag_hokuyo_forest"
	      args="/media/timothy/3865-3031/rosbag/2020-01-15-21-49-36.bag --clock --pause">
      <remap from="tf" to="tf_old" />
  </node>

  

</launch>

